.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5vh;
    color: whitesmoke;
}

.aboutHeader {
    text-align: center;
    margin-bottom: 5vh;
    width: 95%;
    border-radius: 50px;
    background: var(--off-white-blue);
    color: var(--dark-grey);
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 20px;
    transition: .3s;
}

.aboutSection {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 0 15px 10px 15px;
    border: solid 3px var(--mint-teal);
    border-radius: 10px;
    height: min-content;
    margin:  0 auto 5vh auto;
    width: 95%;
}

.heroImg {
    display: flex;
    height: 30vh;
    width: 95%;
    margin: 20px 0 30px 0;
}

.aboutText {
    text-align: center;
    font-size: 12px;
}

.contact-me {
    color: var(--off-white-blue);
}

.contact-me:hover {
    color: var(--mint-teal);
    transition: .3s;
}

@media screen and (min-width: 425px) {
    .about {
        margin-top: 7vh;
    }

    .heroImg {
        height: 50vh;
        width: 85%;
    }
    
    .aboutHeader {
        margin-bottom: 8vh;
    }

    .aboutText {
        font-size: 15px;
    }

} 


@media screen and (min-width: 600px) {
    .about {
        margin-top: 7vh;
    }
    
    .aboutHeader {
        margin-bottom: 8vh;
    }
    
    .aboutSection {
        padding: 0 15px 10px 15px;
        margin:  0 auto 7vh auto;
        width: 95%;
    }
    
    .heroImg {
        height: 55vh;
        width: 70%;
    }
    
    .aboutText {
        font-size: 18px;
    }

} 

@media screen and (min-width: 768px) {
    .about {
        margin-top: 7vh;
    }
    
    .aboutHeader {
        margin-bottom: 8vh;
    }
    
    .aboutSection {
        padding: 0 15px 10px 15px;
        margin:  0 auto 7vh auto;
        width: 95%;
    }
    
    .heroImg {
        height: 90vh;
        width: 90%;
    }
    
    .aboutText {
        font-size: 18px;
    }

}

@media screen and (min-width: 920px) {
    .about {
        margin-top: 7vh;
    }
    
    .aboutHeader {
        margin-bottom: 8vh;
    }
    
    .aboutSection {
        padding: 0 15px 10px 15px;
        margin:  0 auto 7vh auto;
        width: 95%;
    }
    
    .heroImg {
        height: 120vh;
        width: 85%;
    }
    
    .aboutText {
        font-size: 18px;
    }

} 
