header {
  display:flex;
  align-items: center;
  justify-content: flex-start;
  padding:0 var(--pagemargin);
}

.hero{
  display:flex;
  flex-direction:column-reverse;
  background-color:#000;
  background-image:url(../../assets/images/helloworld.png);
  background-repeat:no-repeat;
  background-size:100% auto; 
  background-position:right top;
  padding:0 5px;
  height:25vw;
}

.hero h2 {
  margin:0;
  padding: 0;
  color:#999;
  font-size:2.5rem;
  font-weight:200;
}

.hero h2:hover {
  color: rgb(9, 248, 248);
}

@media screen and (max-width: 768px){ 
  .hero {
    padding:0 var(--pagemargin);
    height:30vw;
  }
  .hero h2 {
    font-size:0.85rem;
  }
}


