header {
  background-color:#222;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  padding:0 var(--pagemargin);
  align-items:center;
}

header h1 {
  color:#fff;
  font-size:5rem;
  padding:12px 0 0;
  margin:0;
}

