#work {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  color: var(--off-white-blue);
  padding:40px var(--pagemargin);
}

#work h3 {
    font-size:2rem;
    font-weight:200;
    width:100%;
    margin:25px 0;
    border-bottom: 2px var(--mint-teal) solid;
    color: var(--off-white-blue);
}

#work a {
    text-decoration: none;
    color: aliceblue;
}
#work a:hover {
    text-decoration: underline;
    color: var(--mint-teal);
}

div[class^="project"] {
    display:flex;
    align-items:flex-end;
    margin-bottom:10px;
    background-size:cover; 
    background-position:center top;
    background-repeat:no-repeat;
    filter: grayscale(100%);
    transition:filter 0.3s ease;

}
div[class^="project"]:hover {
    filter: grayscale(0);
    text-decoration:none;
}

div.project-1,div.project-2, div.project-3, div.project-4, div.project-5, 
div.project-6, div.project-7, div.project-8, div.project-9,
div.project-10 {
    border:4px solid var(--off-grey);
    width:100%;
    height:150px;
}

.project-1 { 
    background-image:url(../../assets/images/Pokedex.png);
}
.project-2 { 
    background-image:url(../../assets/images/beerfinder.png);
}

.project-3 {
    background-image:url(../../assets/images/weather.png);
}

.project-4 {
    background-image:url(../../assets/images/seo.png);
}

.project-5 {
    background-image:url(../../assets/images/clock.png);
}

.project-6 {
    background-image:url(../../assets/images/quiz.png);
}

.project-7 {
    background-image:url(../../assets/images/simonsays.png);
}

.project-8 {
    background-image:url(../../assets/images/calculator.png);
}

.project-9 {
    background-image:url(../../assets/images/search.png);
}

.project-10 {
    background-image:url(../../assets/images/todo.png);
}

.project-info {
    background-color:#000;
    color:#fff;
    font-size:.75rem;
    padding:8px 10px;
    width:250px;
    max-width:100%;
    overflow-x:hidden;
    cursor:pointer;
    flex-direction:column;
}

.project-info h4 {
    font-size: 1.25rem;
}

.project-info h4, .project-info p {
    margin:0;
    padding:0;
    align-self:flex-start;
    max-width:100%;
}

.project-info p { 
    font-family:'Yanone Kaffeesatz', sans-serif;
    letter-spacing:0.05rem; 
    text-transform:uppercase;
    font-weight:200;
    margin-top: 15px;
}

@media screen and (min-width: 768px){ 
    #work h3 {
        font-size:2.5rem;
        font-weight:200;
        width:100%;
        margin:25px 10px;
    
    }
    div.project-1, div.project-2, div.project-3, div.project-4, div.project-5, div.project-6, div.project-7, div.project-8, div.project-9, div.project-10 {
        width:48%;
        height:170px;
        margin-left:auto;
        margin-right: auto;
    }
    .project-info {
        width:40.5vw;
        max-width:80%;
    }
    .project-info h4 {
    font-size: 1.5rem;
}
  }

  