#work {
  display:flex;
  direction:row;
  flex-wrap:wrap;
  padding:0 var(--pagemargin);
  color: var(--off-white-blue);
  margin-top: 2vh;
}

#work h3 {
    margin: .5vh 0 2vh 0;
}

#work a:hover {
    text-decoration:none;
    color:#000;
}

div[class^="project"] {
    background-size:cover; 
    background-position:center top;
    background-repeat:no-repeat;
    filter: grayscale(100%);
    transition:filter 0.3s ease;
    margin-bottom:10px;
    display:flex;
    align-items:flex-end;
}
div[class^="project"]:hover {
    filter: grayscale(0);
    text-decoration:none;
}

div.project-2, div.project-3, div.project-4, div.project-5, 
div.project-6, div.project-7, div.project-8, div.project-9,
div.project-10 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    height:250px;
}



.project-1 { 
    background-image:url(../../assets/images/beerfinder.png);
    width:100%;
    height:300px;
    margin-left:0 !important;
}

.project-2 {
    background-image:url(../../assets/images/weather.png);
}

.project-3 {
    background-image:url(../../assets/images/seo.png);
}

.project-4 {
    background-image:url(../../assets/images/clock.png);
}

.project-5 {
    background-image:url(../../assets/images/quiz.png);
}

.project-6 {
    background-image:url(../../assets/images/simonsays.png);
}

.project-7 {
    background-image:url(../../assets/images/calculator.png);
}

.project-8 {
    background-image:url(../../assets/images/tictactoe.png);
}

.project-9 {
    background-image:url(../../assets/images/search.png);
}

.project-10 {
    background-image:url(../../assets/images/todo.png);
}

.project-info {
    background-color:#000;
    color:#fff;
    font-size:.75rem;
    padding:8px 20px;
    width:300px;
    max-width:96%;
    overflow-x:hidden;
    cursor:pointer;
    flex-direction:column;
}

.project-info h4, .project-info p {
    margin:0;
    padding:0;
    align-self:flex-start;
    max-width:100%;
}

.project-info p { 
    font-family:'Yanone Kaffeesatz', sans-serif;
    letter-spacing:0.05rem; 
    text-transform:uppercase;
    font-weight:200;
}

@media screen and (min-width: 425px){ 
    div.project-2, div.project-3, div.project-4, div.project-5, 
    div.project-6, div.project-7, div.project-8, div.project-9,
    div.project-10 {
       
        width:45%;
        height:230px;
    }
    .project-info {
        width:40.5vw;
        max-width:100%;
    }
    .project-1 .project-info { 
        width:90vw;
    }
  }
  