:root {
  --pagemargin:5%;
  --mint-teal: rgb(9, 248, 248);
  --dark-grey: rgb(63, 63, 63);
  --off-grey: rgb(199, 199, 199);
  --off-white-blue: rgb(232, 252, 255);
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
