nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-self: flex-start;
  background-color:#222;
  width: 100%;
  height: 3rem;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: .25rem;
}

.navContainer h2 {
  color:#fff;
  font-size:1rem;
  padding:15px 0 0 5px;
  margin: 1px 5vw 0 0;
}


/* .navPic {
  margin-top: 5px;
  width: 3.7rem;
  float: right;
  border-radius: 50%;
  overflow: hidden;
} */

.navMenu {
  display: flex;
  gap: 1rem;
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;
}

.navMenu a {
  color: white;
  text-decoration: none;
  font-size: 0.5rem;
}

nav ul li a:hover { 
  color:rgb(9, 248, 248);
  text-decoration:underline;
}

@media screen and (min-width: 425px){ 

  .navMenu {
    gap: 1rem;
  }
  
  .navContainer {
    margin-right: .70rem;
  }
  
  .navContainer h2 {
    font-size:1.25rem;
    padding:10px 0 0 5px;
  }
  
  .navMenu a {
    font-size: .75rem;
  }
}

@media screen and (min-width: 600px){ 
  
  .navMenu {
    gap: 1.25rem;
  }
  .navContainer {
    margin-right: .90rem;
  }
  
  .navContainer h2 {
    font-size:1.40rem;
    padding:10px 0 0 5px;
  }
  
  .navMenu a {
    font-size: 1.10rem;
  }
}

@media screen and (min-width: 768px){ 

  .navMenu {
    gap: 2rem;
  }
  
  .navContainer {
    margin-right: .90rem;
  }
  
  .navContainer h2 {
    font-size:1.60rem;
    padding:10px 0 0 5px;
  }
  
  .navMenu a {
    font-size: 1.30rem;
  }
}

@media screen and (min-width: 920px){ 

  .navMenu {
    gap: 3rem;
  }
  
  .navContainer {
    margin-right: .90rem;
  }
  
  .navContainer h2 {
    font-size:2.25rem;
    padding:0 0 0 5px;
  }
  
  .navMenu a {
    font-size: 1.30rem;
  }
}
